<button
  class="w-full h-full box-border flex justify-center gap-1 items-center px-4 rounded-lg cursor-pointer transition-colors duration-200"
  [ngClass]="{
    'flex-row-reverse': iconName() && iconPosition() === 'left',
    'pr-2' : iconName() && iconPosition() === 'right',
    'text-white bg-primary hover:bg-purple': variant() === 'primary',
    'text-primary border border-primary hover:bg-primary hover:text-white':
      variant() === 'secondary'
  }"
>
  <p class="text-base font-normal">
    <ng-content></ng-content>
  </p>
  @if(iconName(); as icon){
    <mat-icon
      class="material-icons-outlined !w-5 !h-5 !text-xl !leading-5"
    >{{ icon }}</mat-icon>
  }
</button>
