<div
  class="group relative m-auto w-full h-full overflow-hidden rounded-xl bg-white max-w-80 cursor-pointer shadow-lg"
  (click)="onCourseClick()"
>
  <div class="h-45 w-full bg-tmf-gray-4">
    <img
      class="h-full w-full object-cover"
      [src]="course.imageSrc"
      [alt]="course.title"
    />
  </div>
  <div class="p-4 h-44">
    <h3 class="mb-2 line-clamp-2 h-16 text-2xl-bold text-grey-33">
      {{ course.title }}
    </h3>
    <div class="line-clamp-3 tracking-wide min-h-15 text-base text-grey-66">
      {{ course.description }}
    </div>
  </div>
  <div
    class="font-inter max-h-16 box-border flex items-center justify-between border-y border-grey-d4 p-4"
  >
    <span class="flex items-center">
      <div
        class="mr-2 h-8 w-8 shrink-0 bg-grey-9f overflow-hidden rounded-full bg-tmf-gray-4"
      >
        <!-- <img
          class="h-full w-full object-cover"
          [src]="course.teacher.avatar"
          [alt]="course.teacher.name"
        /> -->
      </div>
      <p class="mr-[31px] whitespace-nowrap text-base font-medium text-grey-66">
        {{ course.teacher.name }}
      </p>
    </span>
    <p class="text-base text-orange-55">
      NT$ {{ course.price }}
      <span class="mr-1 text-sm text-grey-33">/ 堂</span>
    </p>
  </div>
  <div class="flex items-center justify-start p-4">
    <div class="mr-4 flex h-10 flex-col items-start justify-between">
      <p class="text-sm font-normal text-grey-9f">類型</p>
      <p class="text-sm-bold text-black">{{ course.category }}</p>
    </div>
    <div class="mr-4 flex h-10 flex-col items-start justify-between">
      <p class="text-sm font-normal text-grey-9f">評分</p>
      <div class="flex items-center gap-1">
        <tmf-star-rating
          [rating]="course.rating.score"
          starSize="small"
        ></tmf-star-rating>
        <p class="flex font-inter items-center gap-1 text-sm font-medium">
          <span class="text-black">{{ course.rating.score }}</span>
          <span class="text-grey-66">({{ course.rating.count }})</span>
        </p>
      </div>
    </div>
    <div class="flex h-full flex-grow justify-end text-grey-9f">
      <mat-icon
        class="cursor-pointe duration-100 group-hover:scale-[110%] group-hover:text-tmf-orange-1"
      > {{ TmfIcon.ArrowRightAlt }} </mat-icon>
    </div>
  </div>
</div>
