<!-- Banner Section -->
<section
  class="flex lg:items-center w-full h-160 bg-top bg-auto lg:h-185 lg:bg-cover lg:bg-center bg-no-repeat bg-[url('/assets/images/home-page-banner-mobile.svg')] lg:bg-[url('/assets/images/home-page-banner.svg')]"
>
  <div class="mx-auto container px-3 pt-12">
    <div class="w-full text-left max-w-[519px] text-grey-33">
      <div class="mb-4">
        <div class="mb-3">
          <h1 class="text-4xl font-bold tracking-wide lg:text-6xl">
            <span class="text-purple">連結</span>無限可能
          </h1>
        </div>
        <p class="text-4xl font-bold tracking-wide lg:text-6xl">
          為你開啟機遇之門
        </p>
      </div>
      <p class="mb-6 text-base lg:text-lg lg:mb-6 lg:text-justify">
        每個人都擁有獨特的才藝與創造力。因此，我們提供一個專業且多元平台，讓熱愛藝術、音樂、手工藝以及創新技術的你，到志同道合的夥伴及專業導師。
      </p>
    </div>
  </div>
</section>
