<header class="flex justify-center items-center border-[0.5px] border-grey-d4">
  <div
    class="w-full h-16 p-3 flex justify-between items-center lg:py-2 px-0 lg:h-20 lg:max-w-[1280px]"
  >
    <!-- 左側區域：手機版 Menu+Logo，平板版僅 Menu -->
    <div class="flex justify-center items-center md:justify-start">
      <div
        class="w-10 h-10 flex justify-center items-center lg:w-16 lg:h-16 lg:hidden"
      >
        <mat-icon [fontIcon]="TmfIconEnum.Menu"></mat-icon>
      </div>
      <img
        class="w-[7.75rem] h-10 md:hidden cursor-pointer"
        src="assets/images/logo.svg"
        alt="Talent Match Frontend Logo"
      />
      <div class="hidden lg:flex lg:justify-start lg:items-center lg:h-full">
        <div
          class="relative flex justify-start items-center gap-1 w-[97px] border-r border-grey-d4 group h-full cursor-pointer"
        >
          <mat-icon
            class="!w-5 !h-5 !text-primary !text-xl !leading-5 material-icons-outlined"
            [fontIcon]="TmfIconEnum.PinDrop"
          ></mat-icon>
          <p class="text-base">{{ selectedCity() }}</p>

          <!-- 下拉選單 -->
          <div
            class="absolute top-[3.25rem] left-1/2 transform -translate-x-1/2 w-28 bg-white border-t border-purple shadow-[0px_10px_15px_-3px_rgba(0,0,0,0.1)] rounded-b-xl py-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50"
          >
            <ul class="max-h-[15rem] overflow-y-auto">
              @for (city of cities; track city.id) {
                <li>
                  <button
                    class="w-full flex justify-center items-center py-3 px-6 text-base text-grey-33 hover:bg-primary hover:text-white transition-all duration-200 cursor-pointer"
                    (click)="selectCity(city)"
                  >
                    {{ city.name }}
                  </button>
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="px-6 flex items-center gap-1">
          <p class="text-base">探索</p>
          <mat-icon
            class="!w-5 !h-5 !text-grey-9f !text-xl !leading-5 material-icons-outlined"
            [fontIcon]="TmfIconEnum.KeyboardArrowDown"
          ></mat-icon>
        </div>
      </div>
    </div>

    <!-- 中間區域：平板版 Logo -->
    <div class="hidden md:flex justify-center items-center">
      <img
        class="w-[7.75rem] h-10 cursor-pointer lg:w-[12.5rem] lg:h-16"
        src="assets/images/logo.svg"
        alt="Talent Match Frontend Logo"
      />
    </div>

    <!-- 右側區域：功能按鈕 -->
    <div class="flex justify-end items-center gap-1">
      <div class="w-10 h-10 flex justify-center items-center lg:w-16">
        <mat-icon
          class="material-icons-outlined cursor-pointer"
          [fontIcon]="TmfIconEnum.Notifications"
        ></mat-icon>
      </div>
      <div class="w-10 h-10 flex justify-center items-center lg:w-16">
        <mat-icon
          class="material-icons-outlined cursor-pointer"
          [fontIcon]="TmfIconEnum.ShoppingCart"
        ></mat-icon>
      </div>
    </div>
  </div>
</header>
